html{
    margin: -10px;
}

Header{
    background-color: #3f0669;
    color: #e00272;
    text-align: center;
    font-size: 150%;
    margin: 0px;
    padding: 1%;
}

body{
    background-color: #1e0649;
}

#main{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1100px;
    margin-left:auto;
    margin-right: auto;
    background-color: #991e60;
    padding-bottom: 150%;
}