@font-face{
    font-family: 'konstruktorregular';
    src: 
        url('konstruktor-qzzrq-webfont.woff') format('woff'),
        url('konstruktor-qzzrq-webfont.woff2') format('woff2'),
        url('Konstruktor-qZZRq.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

html{
    margin: -10px;
}

body{
    background-color: rgb(20, 20, 20);
}

h1{
    font-family:'konstruktorregular';
    color: rgb(255, 230, 0);
    text-align: center;
    font-size: 300%;
    margin: 0px;
    padding: 3%;
    background-color: rgb(197, 28, 28);
}

h2{
    font-family:'konstruktorregular';
    color: rgb(255, 230, 0);
    text-align: center;
    font-size: 200%;
}

h3{
    color: rgb(197, 28, 28);
    text-align:center;
    font-family:'konstruktorregular';
    font-size: 150%;
    
}

p{
    color: rgb(226, 226, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
}

#Prefácios{
    text-align:center;
}

/* a{
    color: rgb(197, 28, 28);
    text-align: center;
    font-family:'konstruktorregular';
    font-size: 150%;
} */

#Bordas{
    padding-left: 50px;
    padding-right: 50px;
    text-align:left;
    max-width: 1100px;
    margin-left:auto;
    margin-right: auto;
}

/* @media (max-width: 320px){
    h1{
        font-size: 400%;

    }
} */

/*
#Botão_Prefácios{
    background-color: rgb(197, 28, 28);
    margin-left:auto;
    margin-right: auto;
    width: fit-content;
    padding-inline: initial;
}
*/

